torch~=2.4.0
torchvision~=0.19.1
lightning~=2.1.2
wandb~=0.17.0
wandb-osh==1.2.1
hydra-core~=1.3.2
omegaconf~=2.3.0
torchmetrics[image]==0.11.4
diffusers
rotary_embedding_torch
einops
opencv-python
imageio
moviepy
matplotlib
pandas
numpy
h5py
colorama
tqdm
click
pyzmq
